@use "../abstracts" as core;

body {
    font-family: sans-serif; 
    color: core.color("text");
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    width: 100%;
}

img {
    max-width: 100%;
    display: block;
}